body {
	font-family: 'Glass Antiqua';
 	background-image: url("images/log.jpg");
	background-size: cover;
}

h1, h2 {
	border: medium solid AntiqueWhite;
	background-color: BurlyWood;
	padding: 10px;
	border-radius: 25px;
}

h1 { /*header for whole page*/
	width: 300px;
	text-align: center;
	color: maroon;
	margin-left: 5vw;
}

button {
	font-family: 'Glass Antiqua';
	border: medium solid AntiqueWhite;
	color: maroon;
	background-color: peru;
	font-weight: bold;
	font-size: 25px;
	border-radius: 20px;
	margin: 25px;
	padding: 20px;
}

/* basket stuff*/

.basket { /*this keeps the basket on the left */
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}

#bHeading { /*heading for just the basket*/
	width: 6vw;
	height: 25px;
	color: maroon;
	background-color: BurlyWood;
	margin-right: 7vw;
	/*margin: 0px 125px;*/
	text-align: center;
}

#basketBody {
	width: 21vw;
	height: 20vh;
	border: medium solid AntiqueWhite;
	border-radius: 25px;
	background-color: BurlyWood;
}

.b {
	border: medium solid AntiqueWhite;
	width: 6vw;
	border-radius: 25px;
}

#scoreButton {
	display:none;
	margin-right: 7vw;
	width: 8vw;
	z-index: 1;
}

/*forest floor*/
.forest-floor {
	position: fixed;
  	bottom: 0;
  	right: 5vw;
}

#forest-table {
	width: 90vw;
	height: 50vh;
	/*border: medium solid AntiqueWhite; */
}

.f { 
	/*border: medium solid AntiqueWhite;*/
	width:18vh;
	height:25vh;
}

 img {
	height: 100px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  border: medium solid AntiqueWhite;
  background-color: BurlyWood;
  border-radius: 25px;
  border: medium solid AntiqueWhite;

  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 40%; /* Could be more or less, depending on screen size */
  text-align: center;
}

#remove {
	display: none;
}

/*score box*/

#score-breakdown {
	display: flex;
	flex-wrap: wrap;
}

#score-breakdown img {
	width: 20%;
	margin: 0px 30px 0px 30px;
}

#score-breakdown h1 {
	width: 25%;
	margin: 0px 10px;
}

#info-img {
	height: 25vh;
}