body {
	font-family: 'Glass Antiqua';
 	background-color: peru;
	background-size: cover;
}

h1, h2, h3, p {
	border: thick solid AntiqueWhite;
	background-color: peru;
	color: maroon;
	padding: 15px;
	border-radius: 25px;
}

h1 { /*header for whole page*/
	width: 330px;
	text-align: center;
	color: maroon;
	margin-left: 5vw;
	background-color: BurlyWood;
}

button {
	font-family: 'Glass Antiqua';
	border: medium solid AntiqueWhite;
	color: maroon;
	background-color: peru;
	font-weight: bold;
	font-size: 25px;
	border-radius: 20px;
	margin: 25px;
	padding: 15px;
}

 img {
	height: 8vh;
}

/* basket stuff*/

.basket { /*this keeps the basket on the left */
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: -15vh;
}

#bHeading { /*heading for just the basket*/
	width: 6vw;
	height: 25px;
	color: maroon;
	margin-right: 6vw;
	text-align: center;
}

#basketBody {
	width: 21vw;
	height: 20vh;
	border: medium solid AntiqueWhite;
	border-radius: 25px;
	background-color: BurlyWood;
}

.b {
	border: medium solid AntiqueWhite;
	border-radius: 25px;
	width:6vw;
}

#score {
	display:none;
	margin-right: 6vw;
	width: 10vw;
	z-index: 1;
}

@keyframes flash {
	0% { box-shadow: 0 0 10vw white; }
	25% { box-shadow: 0 0 10vw orangered; }
    50% { box-shadow: 0 0 20vw red; color: white; }
    75% { box-shadow: 0 0 10vw orangered; }
    100% { box-shadow: 0 0 10vw white; }
}

.active {
    animation-name: flash;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

#log {
	margin-left: 12vw;
	margin-top: 0;
}


/*forest floor*/
.forest-floor {
	position: fixed;
  	bottom: 2vw;
  	right: 5vw;
  	width: 94vw;
	height: 55vh;

	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

.forest-floor img {
	filter: opacity(90%);
	filter: brightness(60%);
}

.forest-floor img:hover {
	filter: opacity(100%);
	filter: brightness(100%);
}
.v-offset {
	margin: -3vh 5vw ;
}

.h-offset {
	margin: 0vh -1vw ;
}

.no-offset {
	margin: 5vh 5vw ;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  border: medium solid AntiqueWhite;
  background-color: BurlyWood;
  border-radius: 25px;
  border: medium solid AntiqueWhite;

  margin: 20% auto; /* 20% from the top and centered */
  padding: 20px;
  width: 40%; /* Could be more or less, depending on screen size */
  text-align: center;
}

#remove {
	display: none;
}

/*score box*/

#score-breakdown {
	display: flex;
	flex-wrap: wrap;
	overflow: auto; 
}

#score-breakdown img {
	width: 19vh;
	margin: 0px 25px 0px 25px;
}

#score-breakdown h2 {
	width: 20%;
	margin: 0px 10px;
	padding: 20px;
}

#info-img {
	height: 15vh;
}

h3 {
	margin-left: 27%;
}

/*tutorial*/

#start {
	overflow: hidden;
}

#startscreen {
	margin-top: 15vh;
	overflow: hidden;
}

.tutorial {
	font-size: 25px;
}


